
<div>
  <h1>Processos</h1>
  <table class="table">
    <tr>
      <td>Id</td>
      <td>NumeroDoProcesso</td>
      <td>DataDeCriacaoDoProcesso</td>
      <td>Valor</td>
      <td>Escritorio</td>
    </tr>
    <tr *ngFor="let processo of processos">
      <td>{{processo.IdProcessos}}</td>
      <td>{{processo.NumeroDoProcesso}}</td>
      <td>{{processo.DataDeCriacaoDoProcesso}}</td>
      <td>{{processo.Valor}}</td>
      <td>{{processo.Escritorio}}</td>

    </tr>
  </table>
</div>
 
